# Lists

## Creating a list

* A string is a sequence of characters
* A list contains a sequence of any type
* A list is denoted with brackets [ and ]
* Can contain a nested list

In [1]:
mylist = ["a", "b", "c"]
print (mylist)
print (len(mylist))
print (mylist[0])

['a', 'b', 'c']
3
a

In [2]:
vocabulary = ["iteration", "selection", "control"]
numbers = [17, 123]
empty = []
mixedlist = ["hello", 2.0, 5*2, [10, 20]]

print (numbers)
print (mixedlist)
print (empty)
newlist = [numbers, vocabulary,['test string', 'and' ,'another']]
print (newlist)

[17, 123]
['hello', 2.0, 10, [10, 20]]
[]
[[17, 123], ['iteration', 'selection', 'control'], ['test string', 'and', 'another']]

In [3]:
print (len(newlist))

3

## Common operations

* `len` returns the length of the list 
* concatentation (`+`) and repetition (`*`)
   * _creates new list objects_
* access elements (`[i]` where `i=>0`)
* slicing (`[i:j]` for elements between `i` and up to but not including `j`)
* membership tests (`a in b`)

In [4]:
browncoats = ["Zoe", "Malcolm"]
crew = ["Hoban", "Kaylee"]
passengers = ["River", "Shepherd", "Simon", "Inara"]
cargo = ["Contrabrand"]
print (len(passengers))
print (len(cargo))
print('hello')

4
1
hello

In [5]:
firefly = browncoats + crew + passengers
firefly

['Zoe', 'Malcolm', 'Hoban', 'Kaylee', 'River', 'Shepherd', 'Simon', 'Inara']

In [6]:
firefly = firefly + cargo*2
print (firefly)

['Zoe', 'Malcolm', 'Hoban', 'Kaylee', 'River', 'Shepherd', 'Simon', 'Inara', 'Contrabrand', 'Contrabrand']

In [7]:
firefly[0]

'Zoe'

In [8]:
firefly[-3]

'Inara'

In [9]:
print (firefly[1:3])
firefly[1:3][0]

['Malcolm', 'Hoban']

'Malcolm'

In [10]:
if 'River' in firefly:
    print (firefly)

['Zoe', 'Malcolm', 'Hoban', 'Kaylee', 'River', 'Shepherd', 'Simon', 'Inara', 'Contrabrand', 'Contrabrand']

In [11]:
if 'River' not in browncoats:
    print ('moo')

moo

## Lists are mutable objects

>Unlike strings, you can modify lists.

In [12]:
# Replace a value
firefly[1] = "Kirk"
print (firefly)

['Zoe', 'Kirk', 'Hoban', 'Kaylee', 'River', 'Shepherd', 'Simon', 'Inara', 'Contrabrand', 'Contrabrand']

>Del deletes elements

In [13]:
print(firefly)
del firefly[0]
print(firefly)

['Zoe', 'Kirk', 'Hoban', 'Kaylee', 'River', 'Shepherd', 'Simon', 'Inara', 'Contrabrand', 'Contrabrand']
['Kirk', 'Hoban', 'Kaylee', 'River', 'Shepherd', 'Simon', 'Inara', 'Contrabrand', 'Contrabrand']

In [14]:
del firefly[2:4]
print(firefly)

['Kirk', 'Hoban', 'Shepherd', 'Simon', 'Inara', 'Contrabrand', 'Contrabrand']

In [15]:
del firefly[-2:]
print(firefly)

['Kirk', 'Hoban', 'Shepherd', 'Simon', 'Inara']

> Lists can be considered objects.
**Objects** are like animals: they know how to do stuff (like eat and sleep), they know how to interact with others (like make children), and they have characteristics (like height, weight).

> "Knowing how to do stuff" with itself is called a method. In this case "append" is a method which, when invoked, is an action that changes the characteristics (the data vector of the list itself).

> Append is used to add new elements to the list

In [16]:
firefly.append("Reaver")
firefly.append(["Reaver", "Spock"]) # inserts a list
print(firefly)

['Kirk', 'Hoban', 'Shepherd', 'Simon', 'Inara', 'Reaver', ['Reaver', 'Spock']]

> Extending the list allows new elements from another list to be added

In [17]:
firefly.extend(["Sulu", "McCoy"]) 
print(firefly)

['Kirk', 'Hoban', 'Shepherd', 'Simon', 'Inara', 'Reaver', ['Reaver', 'Spock'], 'Sulu', 'McCoy']

> Another way to extend a list is using the addition operator

In [18]:
firefly += ["Uhura"] # this is almost the same as extend but doesn't use a function call so its slightly faster
print(firefly)

['Kirk', 'Hoban', 'Shepherd', 'Simon', 'Inara', 'Reaver', ['Reaver', 'Spock'], 'Sulu', 'McCoy', 'Uhura']

> We can also treat a list a bit like a queue, remove the last element

In [19]:
print(firefly)
whatwaspopped = firefly.pop()
print(whatwaspopped)

['Kirk', 'Hoban', 'Shepherd', 'Simon', 'Inara', 'Reaver', ['Reaver', 'Spock'], 'Sulu', 'McCoy', 'Uhura']
Uhura

> ... or remove the first element (or any we like as indicated by the index)

In [20]:
firefly.pop(0)

'Kirk'

> We can also insert elements at arbitrary points

In [21]:
firefly.insert(1, "Zaphod")
print(firefly)

['Hoban', 'Zaphod', 'Shepherd', 'Simon', 'Inara', 'Reaver', ['Reaver', 'Spock'], 'Sulu', 'McCoy']

## Copying Lists

In [22]:
a = [1,2,3]
print(a)

[1, 2, 3]

In [23]:
b = a
print (b)

[1, 2, 3]

In [24]:
a[0] = 'change'
print (a)
print (b)

['change', 2, 3]
['change', 2, 3]

In [25]:
a = [1,2,3]
b = a[:] # clone a
print (b)

[1, 2, 3]

In [26]:
a[0] = 'test'
print (a)
print (b)

['test', 2, 3]
[1, 2, 3]

## Searching, sorting, & counting

* sort a list in ascending or descending order
* find the index of a given element
* count the number of matching elements
* remove a given element

In [27]:
v = [1, 3, 2, 3, 4, 2]
v.sort()
print(v)

[1, 2, 2, 3, 3, 4]

> `reverse` is a keyword of the `.sort()` method

In [28]:
v.sort(reverse=True)
print(v)

[4, 3, 3, 2, 2, 1]

> `.sort()` changes the the list in place but does NOT return it

In [29]:
v = [1,1,1,1,5,5,3,2,4,2]
test = v.sort()
print (v)
print (test)

[1, 1, 1, 1, 2, 2, 3, 4, 5, 5]
None

>Count will return how many times something is featured in a list

In [30]:
print (v.count(1))
print (v.count(2))
print (v.count(3))

4
2
1

>Remove removes a value from the list but doesn't return it

In [31]:
num = v.remove(3)
print (num)
print (v)

None
[1, 1, 1, 1, 2, 2, 4, 5, 5]

## Iterating Over Lists

Iterate over the items in the list can be done in a number of ways.

>If you want to know the index of each item you can use enumerate()

In [32]:
a = ['cat', 'window', 'defenestrate']
for x, val in enumerate(a):
       print(x,val)

0 cat
1 window
2 defenestrate

>Or if you don't care about the index, just use a for loop

In [33]:
for val in a:
    print (val)

cat
window
defenestrate

>Or you can create a for loop using the length of the list

In [34]:
for x in range(0, len(a)):
    print(x,a[x])

0 cat
1 window
2 defenestrate

In [35]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print (i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

>The range() function returns a sequence of numbers: from START to STOP by STEP

In [36]:
a = [1,2,3,4,5,6,7,8,9,10]
print (a)
for z in range(1, 10, 2): # from 1 to 10 each step is 2
    print (a[z])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2
4
6
8
10

Iterating backwards is done with 'reversed()'

In [37]:
for z in range(1, 10, 2): # from 1 to 10 each step is 2
    print (z)

print ('backwards:')
for z in reversed(range(1, 10, 2)): # from 1 to 10 each step is 2
    print (z)

1
3
5
7
9
backwards:
9
7
5
3
1

## Casting Back and Forth

> Take a simple list

In [38]:
a = [1,2,3,("b",1)]
print (a)
print (type(a))

[1, 2, 3, ('b', 1)]
<class 'list'>

> Convert it to a tuple (immutable list -- a list with values you can't change)

In [39]:
b = tuple(a)
print (b)
print (type(b))

(1, 2, 3, ('b', 1))
<class 'tuple'>

> Convert it back to a list

In [40]:
c = list(b)
print (c)
print (type(c))

[1, 2, 3, ('b', 1)]
<class 'list'>

> Convert it to a set (an unordered collection of unique elements)

In [41]:
d = set(a)
print (d)
print (type(d))

{('b', 1), 1, 2, 3}
<class 'set'>

> Make a list out of a set

In [42]:
print (set('spam'))
print (list(set("spam")))

{'m', 's', 'a', 'p'}
['m', 's', 'a', 'p']

> Make a list out of a string

In [43]:
list("abracadabra")

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

> casting only affects top-level structure, not the elements

## The split function
>VERY useful. Split strings based on a delimeter (e.g. split on " ", or ",", or "\n")

In [44]:
"Kirk Spock  McCoy".split()

['Kirk', 'Spock', 'McCoy']

> Then you can join it back together with a delimter

In [45]:
''.join(["1","2","3"])

'123'

In [46]:
text = "These,are,comma,seperated"
print (text)
textlist = text.split(",")
print (textlist)
print (" ".join(textlist))
print ("\t".join(textlist))

These,are,comma,seperated
['These', 'are', 'comma', 'seperated']
These are comma seperated
These	are	comma	seperated

## List Comprehension ##

You can create lists "on the fly" by asking simple questions of other iterateable data structures. Although the following examples are somewhat trivial, this can be extremely powerful and is a very useful tool.

>example: I want a list of squared numbers

In [47]:
# You can make the list of squared numbers using a loop:
mylist = []
for num in range(10):
    mylist.append(num**2)
print (mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
# or you can do it inline like so:
mylist= [x**2 for x in range(10)]
print (mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

>example: I want a list of all mesons whose masses are between 100 and 1000 MeV

In [49]:
particles = \
[{"name":"π+"  ,"mass": 139.57018}, {"name":"π0"  ,"mass": 134.9766}, 
 {"name":"η5"  ,"mass": 47.853}, {"name":"η′(958)","mass": 957.78}, 
 {"name":"ηc(1S)", "mass": 2980.5}, {"name": "ηb(1S)","mass": 9388.9}, 
 {"name":"K+",  "mass": 493.677}, {"name":"K0"  ,"mass": 497.614}, 
 {"name":"K0S" ,"mass":  497.614}, {"name":"K0L" ,"mass":  497.614},
 {"name":"D+"  ,"mass": 1869.62}, {"name":"D0"  ,"mass": 1864.84},
 {"name":"D+s" ,"mass":  1968.49}, {"name":"B+"  ,"mass": 5279.15},
 {"name":"B0"  ,"mass": 5279.5}, {"name":"B0s" ,"mass":  5366.3},
 {"name":"B+c" ,"mass":    6277}]

# data source: http://en.wikipedia.org/wiki/List_of_mesons

my_mesons = [ (x['name'],x['mass']) for x in particles if x['mass'] <= 1000.0 and x['mass'] >= 100.0]
print (my_mesons)

[('π+', 139.57018), ('π0', 134.9766), ('η′(958)', 957.78), ('K+', 493.677), ('K0', 497.614), ('K0S', 497.614), ('K0L', 497.614)]

In [50]:
# get the average
tot = 0.0
for x in my_mesons: 
    tot += x[1]
print ("The average meson mass in this range is " + str(tot/len(my_mesons)) + " MeV/c^2.")

The average meson mass in this range is 459.83511142857145 MeV/c^2.

In [51]:
my_mesons[0][0]

'π+'

 &nbsp;